@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-family: "Poppins", sans-serif;
}

main {
    margin-top: 60px;
    overflow-x: hidden;
    background-color: #010813;
    width: 100%;
}

header {
    height: 60px;
    background-color: #000000;
    background-image: linear-gradient(to top, #b1f8f8 1%, transparent 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    z-index: 2;
    transition: top 0.3s ease;
}

header::after {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, rgba(185, 253, 253, 0.7), transparent 80%);
    z-index: 1;
    pointer-events: none;
}

.logo img { 
    height: 100px; /* mesmo tamanho da imagem */
}

.botoes {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    transition: transform 0.3s ease;
}

.botao:hover {
    transform: scale(0.8);
}

.botao {
    max-height: 40px;
    background-color: #000000;
    color: rgb(202, 168, 75);
    font-size: 12px;
    cursor: pointer;
    padding: 8px;
    border-top: 4px;
    border-style: solid;
    border-top-color: rgb(25, 150, 252);
    border-radius: 50%;
    border-bottom: 4px solid;
    border-bottom-color: rgb(25, 150, 252);
    border-left: none;
    border-right: none;
}


.container-borda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px - 30px);
    min-height: 100%;
    z-index: 0;
    pointer-events: none;
}

.borda-esquerda,
.borda-direita {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5%;
    background-repeat: repeat-y;
    background-size: auto 20%;
    background-position: top center;
    z-index: 0;
    opacity: 0.9;
}

footer {
    position: relative;
    z-index: 2;
}

header {
    z-index: 3;
}

.imagem-principal,
.imagem-principal-ministerios {
    position: relative;
    z-index: 1;
}

.borda-esquerda {
    left: 0;
    background-image: url(../imagens/borda-esquerda.png);
}

.borda-direita {
    right: 0;
    width: 4.5%;
    background-image: url(../imagens/borda-direita.png);
}

.conteudo-interno {
    position: relative;
    z-index: 1;
}



.titulo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
    color: rgb(202, 168, 75);
    text-align: center;
    padding: 0 5%;
    text-shadow: 4px 5px 1px black;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    position: relative;
    background: url(../imagens/pastor-viajem.jpg) center/cover no-repeat;
    height: 500px;
    width: 100%;
}


.texto,
.texto-final {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
    color: #ffffff;
    line-height: 1.6;

}



.frase-final {

    color: rgb(202, 168, 75);
    font-size: 24px;
    text-align: center;
    text-shadow: 4px 5px 1px black;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 25px;
}

.video iframe {
    max-width: 100%;
}
.container-fotos{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.tamanho-fotos{
    max-width: 25%;
    margin: 5px;
    border: 2px solid rgb(202, 168, 75);
}
.subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(202, 168, 75);
    text-align: center;
    padding: 0 5%;
    text-shadow: 4px 5px 1px black;
}

.botao-venha-conhecer {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(19, 2, 250), rgb(3, 238, 247));
    color: #0f0f0f;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.7);
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.botao-venha-conhecer:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(77, 75, 75, 0.7);
    background: linear-gradient(to right, rgb(3, 238, 247), rgb(19, 2, 250));
}

.rodape {
    background-color: #000000;
    color: #f7f9fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1px 5%;
    font-size: 12px;
}

footer {
    z-index: 2;
}

.imagem-principal-ministerios {
    display: flex;
    justify-content: center;
    position: relative;
    background: url(../imagens/fundo-ministerio1.jpg) center/cover no-repeat;
    height: 500px;
    width: 100%;
}
.container-imagem {
    position: relative;
    width: 100%;
    max-width: 905px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.container-titulo-imagem {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 320px;
    height: 169px;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-size: 200px 169px;
    background-position: center;
    z-index: 1;
}
.img-ministerio{
    height: 181px;
    width: 905px;
    background-image: url(../imagens/fundo-ministerio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.monte{
    background-image: url(../imagens/fotos-background/oracao-no-monte.png);
}
.intercessao{
    background-image: url(../imagens/fotos-background/intercessao.png);
}
.diaconato{
    background-image: url(../imagens/fotos-background/diaconato.png);
}
.louvor{
    background-image: url(../imagens/fotos-background/louvor.png);
}
.discipulado{
    background-image: url(../imagens/fotos-background/discipulado.png);
}
.casais{
    background-image: url(../imagens/fotos-background/casais.png);
}
.acolhimento{
    background-image: url(../imagens/fotos-background/acolhimento.png);
}

.co-ral {
    background-image: url(../imagens/fotos-background/coral.png);
}
.manutancao{
    background-image: url(../imagens/fotos-background/manutancao.png);
}
.coreografia{
    background-image: url(../imagens/fotos-background/coreografia.png);
}
.homens{
    background-image: url(../imagens/fotos-background/homens.png);
}
.mulheres{
    background-image: url(../imagens/fotos-background/mulheres.png);
}


.imagem-ministerio{
    width: 100%;
    height: auto;
    max-width: 960px;
}

.container-imagem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);
}

.titulo-ministerio {
    position: absolute;
    top: 20px;
    left: 40px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}
.subtitulo-ministerio{
    font-weight: bold;
}
.texto-ministerio{
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
}

#diaconato{
    font-size: 14px;
}

.container-texto-ministerios {
    position: absolute;
    top: 0;
    left: 322px;
    height: 176px;
    width: calc(100% - 322px);
    z-index: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
}

/* Menu hamburguer para telas menores */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.menu-toggle span {
    height: 3px;
    width: 100%;
    background-color: #7cd2fa;
    border-radius: 3px;
}

.botao-ministerio {
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 4px;
    cursor: pointer;
    transition: top 0.3s ease;
}

.botao-ministerio:hover {
    transform: scale(0.8);
}

.agenda{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    color: black;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
}

.agenda div{
    max-width: 300px;
    background-color: rgb(17, 206, 240);
    padding: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(202, 168, 75);
}

.agenda p{
    padding: 20px;
    border-top: 1px solid rgb(202, 168, 75);
}

/* Media Queries para Responsividade */
@media screen and (max-width: 1024px) {
    .container-texto-ministerios {
        left: 280px;
        width: calc(100% - 280px);
    }
    .container-fotos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .tamanho-fotos{
        min-width: 300px;
    }
    .final-pagina-inicial{
        display: flex;
        flex-direction: column;
    }
    .container-imagem{
        width: auto;
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .botoes {
        gap: 15px;
    }

    .botao {
        font-size: 12px;
        padding: 6px;
    }

    .container-imagem {
        height: auto;
    }

    .container-titulo {
        height: 140px;
    }

    .titulo-ministerio {
        font-size: 5vw;
    }

    .container-texto-ministerios {
        left: 0;
        width: 100%;
        position: relative;
        height: auto;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}



strong {
    color: rgb(202, 168, 75);
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
}

@media screen and (max-width: 576px) {
    header {
        padding: 0 3%;
    }


    .menu-toggle {
        display: flex;
    }

    .botoes {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #000000;
        padding: 10px 0;
        gap: 10px;
        display: none;
        align-items: center;
        z-index: 3;
    }

    .botoes.active {
        display: flex;
    }

    .botao {
        width: 90%;
        text-align: center;
        border-radius: 10px;
    }

    .borda-esquerda,
    .borda-direita {
        margin-left: 0;
        margin-right: 0;
    }

    .titulo,
    .subtitulo {
        font-size: 20px;
    }

    .texto,
    .texto-1,
    .texto-2,
    .texto-3,
    .texto-final {
        font-size: 16px;
    }

    .container-titulo {
        width: 100%;
        height: auto;
        position: relative;
    }

    .titulo-ministerio {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
        padding: 15px;
        font-size: 6vw;
    }

    .botao-venha-conhecer {
        width: 80%;
        font-size: 14px;
    }
}